*{
    margin: 0;
    padding: 0;
}

:root{
    --verde-barra:#8BAF83;
    --verde-paginas:#A7C4A1;
    --verde-letras:#31572C;
}

body {
    background-color: var(--verde-paginas);
}

header {
    background-color: var(--verde-barra);
    color: var(--verde-letras);
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.conteudo {
    background-color:var(--verde-barra);
    border: none;
    color: var(--verde-letras);
    padding: 10px 20px;
    text-align: center;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.conteudo:hover {
    background-color: var(--verde-paginas);
}

.jogos {
    background-color: var(--verde-barra);
    border: none;
    color: var(--verde-letras);
    padding: 10px 20px;
    text-align: center;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.jogos:hover {
    background-color: var(--verde-paginas);
}

.integrantes {
    background-color: var(--verde-barra);
    border: none;
    color: var(--verde-letras);
    padding: 10px 20px;
    text-align: center;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;

}

.integrantes:hover {
    background-color: var(--verde-paginas);
}

.ajuda {
    background-color: var(--verde-barra);
    border: none;
    color: var(--verde-letras);
    padding: 10px 20px;
    text-align: center;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;

}

.ajuda:hover {
    background-color: var(--verde-paginas);
}

.Login {
    background-color: var(--verde-barra);
    border: 10px;
    color: var(--verde-letras);
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;   
}

.Login img{
    width: 40px;
    height: 40px;
}

main {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    height: 250vh;
}

.boas_vindas {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#F6F6E9;
    padding: 50px;
    height: 30%;
    border-radius: 10px;
    width: 990px;
    align-items: self-start;
}

 .tigre{
    width: 100%;
    display: inline-block;
    text-align: right;
    padding: -0px;   
}

.tigre img{
    width: 300px; 
    max-width: 999px;
}

h1 {
    align-items: start;
    font-size: 22px;
    padding-right: 1px;
}

h2{
    align-items: start;
    font-size: 25px;
    padding-right: 1px;
}

.bio{
    background-color: var(--verde-barra);
    border: 10px;
    color: var(--verde-letras);
    padding: 10px 10px;
    font-size: 35px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: bolder;
}

button {
    background-color: var(--verde-barra);
    border: none;
    color: var(--verde-letras);
    padding: 10px 10px;
    font-size: 15px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 10px; 
}

button:hover {
    background-color: var(--verde-paginas);
}