




:root{
    --verde-barra:#8BAF83;
    --verde-paginas:#A7C4A1;
    --verde-letras:#31572C;
    --branco-fundo:#F6F6E9;
}

.conteudo {
    font-family: Inter, light;
    background-color:var(--verde-barra);
    border: none;
    color: var(--verde-letras);
    padding: 10px 20px;
    text-align: center;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.conteudo:hover {
    background-color: var(--verde-paginas);
}

.jogos {
    font-family: Inter, light;
    background-color: var(--verde-barra);
    border: none;
    color: var(--verde-letras);
    padding: 10px 20px;
    text-align: center;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.jogos:hover {
    background-color: var(--verde-paginas);
}

.integrantes {
    font-family: Inter,light;
    background-color: var(--verde-barra);
    border: none;
    color: var(--verde-letras);
    padding: 10px 20px;
    text-align: center;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.integrantes:hover {
    background-color: var(--verde-paginas);
}

.ajuda {
    font-family: inter,light;
    background-color: var(--verde-barra);
    border: none;
    color: var(--verde-letras);
    padding: 10px 20px;
    text-align: center;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.ajuda:hover {
    background-color: var(--verde-paginas);
}

.Login {
    font-family: inter,light;
    background-color: var(--verde-barra);
    border: 10px;
    color: var(--verde-letras);
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    transition: backgroud-color 0.3s, transform 0.2s;
}

.login:hover {
    background-color: var(--verde-paginas);
}

.Login img{
    width: 40px;
    height: 40px;

}

header .logo_icone img {
    width: 60px;
}

.bio{
    font-family: inter,light;
    background-color: var(--verde-barra);
    border: 10px;
    color: var(--verde-letras);
    padding: 10px 10px;
    font-size: 35px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: bolder;
}

button {
    margin-top: 50px;
    margin-left: 30px;
}






body {
    font-family: 'Playflair Display', regular;
    background-color: var(--verde-paginas);
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
   
}

header {
    font-family: Inter,light;
    width: 100%;
    background-color: var(--verde-barra);
    color: var(--verde-letras);
    unicode-bidi: isolate;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    display: block;
}

header button {
    font-family: inter,light;
    background-color: transparent;
    border: none;
    color: var(--branco-fundo);
    font-size: 16px;
    cursor: pointer;
}

header button:hover {
    text-decoration: underline;
}

header .Login img {
    width: 24px;
    height: 24px;
}

main {
    
    background-color: var(--verde-paginas);
    padding: 40px;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
  
}

h1 {
    font-family: Playfair Display, regular;
    font-size: 24px;
    color: #3c6e47;
    margin-bottom: 10px;
}

p {
    font-family: Inter, semi bold;
    font-size: 14px;
    color: #3c6e47;
    margin-bottom: 20px;
}



form {
    font-family: Inter, light;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

form input[type="text"],
form input[type="password"] {
    font-family: Inter,light;
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form input[type="checkbox"] {
    margin-right: 5px;
}

form button {
    font-family: inter, light;
    background-color: #3c6e47;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

form button:hover {
    opacity: 0.9;
}



.cadastro {
    font-family: inter, light;
    margin-top: 20px;
}

.cadastro p {
    font-family: inter, light;
    margin-bottom: 10px;
    font-size: 14px;
    color: #3c6e47;
}

.cadastro button {
    font-family: inter, light;
    background-color: var(--verde-letras);
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    align-items: center;
}

.cadastro button:hover {
    opacity: 0.9;
}



.text {
    font-family: inter,light;
    max-width: 600px;
}


